$blue_light: #96d0f1;
$blue_dark: #1b4481;
$blue_text: #001d55;
$accent_blue: #26acc5;
$accent_pink: #fbcdc2;
$accent_yellow: #ffdf3f;
$white: #ffffff;

$chat_box_background: #7b9fce;
$chat_input_background: #051e52;
