@font-face {
    font-family: LemonMilkMedium;
    src: url(../assets/fonts/lemon_milk/LEMONMILK-Medium.otf);
}

@font-face {
    font-family: LemonMilkRegular;
    src: url(../assets/fonts/lemon_milk/LEMONMILK-Regular.otf);
}

@font-face {
    font-family: Muli;
    src: url(../assets/fonts/muli/Muli-SemiBold.ttf);
}

@font-face {
    font-family: MuliBold;
    src: url(../assets/fonts/muli/Muli-ExtraBold.ttf);
}