@import 'fonts';
@import 'colors';
@import 'variables';

#achievements {
  background: $blue_light;
  color: $white !important;

  #root {
    padding: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  * {
    padding: 0;
    margin: 0;
    font-family: Muli;
  }

  p,
  h1,
  h2 {
    color: $white;
  }

  h1,
  h2 {
    font-family: LemonMilkMedium;
    color: $white !important;
  }
}

#achievements-clouds {
  background-image: url(../images/settingsclouds.svg);
  min-height: 200px;
  background-size: cover;
}

.Achievements-intro-tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem !important;
}

.Achievements-intro-tile-header {
  font-family: LemonMilk-Bold !important;
  font-size: 4rem;
  color: white;
}

.Achievements-intro-tile-body {
  width: 650px;
  margin: 1rem !important;
  padding: 1rem !important;
  background-color: $accent_pink;
  border-radius: 12px;
  color: $blue_text;

  display: flex;
  flex-direction: column;
  align-items: center;
  .Achievement-intro-tile-body-title {
    margin-top: 1rem !important;
    font-size: 1.5rem;
    text-align: center;
    font-family: LemonMilk-Bold !important;
  }

  .Achievement-intro-tile-body-text {
    text-align: center;
    font-family: LemonMilk;
    padding: 1rem !important;
    display: table !important;
    visibility: visible !important;
    height: auto !important;
    transition: all 1s ease visibility 1s !important;
  }

  .Achievement-intro-tile-body-text-hide {
    text-align: center;
    font-family: LemonMilk;
    padding: 1rem !important;
    visibility: hidden;
    display: block;
    height: 0;
    transition: all 1s ease visibility 0s;
  }

  .Achievements-records-container {
    background-color: $blue_light;
    height: 300px !important;
    width: 500px;
    visibility: visible !important;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: 12px;
    margin: 1rem !important;
  }
  .Achievements-records-container-hide {
    background-color: $blue_light;
    height: 0px;
    visibility: hidden;
    width: 500px;
  }
  .Achievements-body-closing-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .Achievements-body-closing-container-tile {
    width: 3rem;
    margin-top: 1px !important;
    height: 0.3em;
    background-color: white;
  }
}

.Achievements-Tiles-Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
  height: 400px;

  .Achievement-tile-container {
    width: 700px;
    display: flex;
    flex-direction: column;
    margin-top: 0.5rem !important;

    .Achievement-tile-header {
      font-weight: bold;
      color: $blue_text;
      font-family: LemonMilk-Bold !important;
      font-size: 2rem;
      height: 85px;
      background-color: white;
      display: flex;
      flex-direction: row;
      align-items: center;

      .Achievement-tile-arrow {
        width: 3rem;
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-right: 2rem !important;

        .Achievement-tile-arrow-container {
          transform: rotate(0deg);
          width: 2rem;
          height: 2rem;
          transition: transform 0.5s;
        }

        .Achievement-tile-arrow-container-rotate {
          transform: rotate(90deg);
          transition: transform 0.5s;
          width: 2rem;
          height: 2rem;
        }
      }
      .Achievement-tile-titleandsticker {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 650px;
      }
      .Achievement-tile-title {
        display: flex;
        flex-direction: row;
        align-items: center;
        text-align: center;
        font-family: LemonMilk-Bold !important;
      }
    }

    .Achievement-tile-body {
      background-color: $accent_pink;
      text-align: center;
      color: $blue_text;
      visibility: visible !important;
      height: 100px !important;
      transition: all 0.5s ease !important;
      display: table !important;
      padding-top: 1rem !important;
      border-bottom-left-radius: 12px;
      border-bottom-right-radius: 12px;
    }

    .Achievement-tile-body-hide {
      color: $blue_text;
      text-align: center;
      display: block;
      height: 0;
      transition: 0.5s ease !important;
      visibility: hidden;
      padding-top: 1rem !important;
      border-bottom-left-radius: 12px;
      border-bottom-right-radius: 12px;
    }
  }
}
.Achievement-tile-sticker {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 4rem;
  width: 4rem;
  margin: 1rem !important;
}
.Achievement-tile-sticker-container {
  height: 4rem;
  width: 4rem;
  background-repeat: no-repeat;
  border-radius: 100%;
}
