@import 'colors';

#admin-panel {
  background: $blue_light;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 50%;
  padding: 32px;
  align-items: center;

  #admin-inputs {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  #admin-sponsor-email {
    margin-right: 5px;
  }

  h1 {
    margin-bottom: 16px;
    text-align: center;
  }

  p {
    font-size: 13px;
    margin-bottom: 4px;
  }

  input,
  textarea,
  select,
  option {
    box-sizing: border-box;
    border: 2px solid $blue_dark;
    border-radius: 4px;
    font-size: 14px;
    padding: 8px;
    width: 50%;
  }

  button {
    background: #43a047;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 14px;
    margin: 20px auto 0;
    outline: none;
    padding: 12px 16px;

    &:hover {
      background: #388e3c;
    }
  }

  #admin-logout {
    display: flex;
    justify-content: center;
    border-radius: 6px;
    color: #c0c0c0;
    border: 2px solid #c0c0c0;
    cursor: pointer;
    background: $white;
    text-align: center;
    outline: none;
    // border: none;
    margin: 2em 1em;
    padding: 0.5em;
    width: 12vw;
    z-index: 25; //log off button layer
    //   height: 38px;

    &:hover {
      background: #c0c0c0;
      color: $white;
    }
  }
}
