@charset "utf-8";

@import 'variables';

@import 'fonts';
@import 'colors';

* {
  padding: 0;
  margin: 0;
}

.profile {
  background-color: #1b4481;
  width: 200px;
  height: 350px;
  position: absolute;
  bottom: 130px;
  border-radius: 20px;
}

.yellow-background {
  background-color: #ffdf3f;
  width: 184px;
  height: 304px;
  position: absolute;
  bottom: 168px;
  border-radius: 20px;
}

.profile-back {
  background-color: #ffffff;
  width: 180px;
  height: 300px;
  position: absolute;
  bottom: 170px;
  border-radius: 20px;
}

.close-button {
  background-color: #96d0f1;
  text-align: center;
  font-size: 25px;
  font-family: Muli;
  color: #ffffff;
  width: 30px;
  height: 30px;
  position: absolute;
  border-radius: 20px;
  bottom: 280px;
  margin-left: 160px;
}
.profile-gradient {
  background: rgb(150, 208, 241);
  background: linear-gradient(
    140deg,
    rgba(150, 208, 241, 1) 9%,
    rgba(251, 205, 194, 1) 93%
  );
  width: 160px;
  height: 240px;
  position: absolute;
  bottom: 180px;
  border-radius: 20px;
}

.bio-gradient {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    60deg,
    rgba(255, 255, 255, 0.23012955182072825) 44%,
    rgba(251, 205, 194, 0.15730042016806722) 57%
  );
  width: 160px;
  height: 70px;
  position: absolute;
  bottom: 180px;
}
.bio-text {
  color: black;
  size: 400px;
  margin-top: 10px;
  font-size: 10px;
  text-align: center;
  position: absolute;
  margin-top: 10px;
  padding: 5px;
  font-family: Muli;
}
.earth {
  background: url(../images/circle-cropped.png);
  background-size: 30px 30px;
  display: flex;
  justify-content: center;
  align-items: top;
  margin-top: 10px;
  margin-left: 135px;
  position: absolute;
  width: 30px;
  height: 30px;
  transform: translate(-50%, -100%);
  transition-property: all;
  /* slight speed-up at beginning and slow-down at end */
  /* use cubic-bezier.com to experiment with other timing functions */
  //transition-timing-function: cubic-bezier(0.15, 0, 0.85, 1);
}
.button-container {
  position: absolute;
  width: 200px;
  height: 40px;
  bottom: 130px;
  left: -35px;
}
.profile-button {
  background: #ffffff;
  display: inline-block;
  margin-left: 8px;
  margin-top: 10px;
  width: 20px;
  height: 20px;
  border-radius: 50px;
}

.profile-text {
  color: black;
  width: 180px;
  size: 400px;
  align-items: center;
  text-align: center;
  position: absolute;
  margin-top: 10px;
  font-family: LemonMilkMedium;
}

.sub-text {
  color: grey;
  width: 180px;
  size: 400px;
  font-size: 10px;
  text-align: center;
  position: absolute;
  margin-top: 30px;
  font-family: Muli;
}

.location-text {
  color: white;
  margin-top: 158px;
  font-family: LemonMilkMedium;
  padding-left: 4px;
  font-size: 8px;
}
