@import 'fonts';
@import 'colors';

#root {
  font-family: 'Lemon/Milk Regular';
  background: -moz-linear-gradient(
    45deg,
    #fbcdc2 0%,
    #fbcdc2 20%,
    #fbcdc2 40%,
    #96d0f1 60%,
    #96d0f1 100%
  );
  background: -webkit-linear-gradient(
    45deg,
    #fbcdc2 0%,
    #fbcdc2 20%,
    #fbcdc2 40%,
    #96d0f1 60%,
    #96d0f1 100%
  );
  background: linear-gradient(
    70deg,
    #fbcdc2 0%,
    #fbcdc2 20%,
    #fbcdc2 40%,
    #96d0f1 60%,
    #96d0f1 100%
  );
  height: 900px;
  overflow: auto;
}

html {
  height: 100%;
  width: 100%;
}

label {
  color: $white;
  font-family: Muli;
}

#attendance {
  background-color: $blue-dark;
  color: $white;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%);
  display: block;
  padding: 100px;
  border-radius: 20px;
  opacity: 0.9;

  header {
    text-align: center;
    font-family: MuliBold;
    font-size: xx-large;
  }

  p {
    text-align: center;
    font-family: Muli;
    font-size: x-large;
  }

  strong {
    text-align: center;
    font-family: MuliBold;
    font-size: x-large;
  }

  #submit {
    align-content: center;
    background-color: $accent-pink;
    font-family: Muli;
    height: 50px;
    width: 150px;
    margin-top: 15px;
    border-radius: 20px;
    outline: none;
    border: none;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
  }

  #submit:hover {
    background-color: #fdece7;
  }
}

.swal-title {
  font-family: Muli;
}

.swal-text {
  font-family: Muli;
}

.swal-button {
  font-family: Muli;
}
