@import "colors";

#character-selector {
  align-items: flex-start;
  background: rgb(150, 208, 241);
  background: linear-gradient(135deg, rgba(150, 208, 241, 1) 0%, rgba(251, 205, 194, 1) 100%);
  border-radius: 16px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 32px;

  button {
    background: #43a047;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    outline: none;
    margin: 16px auto 0;
    padding: 12px 16px;

    &:hover {
      background: #388e3c;
    }
  }
}

#character-selector-tabs {
  display: flex;
  padding-left: 32px;

  .tab {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    cursor: pointer;
    padding: 8px 16px;

    &.selected,
    &:hover {
      background: rgba(255, 255, 255, 0.65);
    }
  }
}
.char-vc-container {
  position: absolute;
  top: 20px;
  right: 100px;
  width: 50px !important;

  display: flex;
  flex-direction: row;
  align-items: center;
  width: inherit;

  .vc-icon {
    width: 24px;
    height: 24px;
    margin: 5px;
    background-image: url("../images/iconmonstr-coin-2.svg");
  }
}
#character-selector-content {
  background: rgba(255, 255, 255, 0.65);
  border-radius: 16px;
  box-sizing: border-box;
  display: flex;
  max-height: 384px;
  padding: 32px;
  width: 100%;

  #character-selector-canvas-container,
  canvas {
    background: transparent;
    border-radius: 16px;
    height: 320px;
    width: 240px;
  }

  #character-selector-pane {
    flex-grow: 1;
    margin-left: 32px;
    overflow-y: auto;

    div {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      gap: 16px;
      width: 100%;

      .box {
        border-style: solid;
        border-width: 3px;
        border-radius: 4px;
        box-sizing: border-box;
        cursor: pointer;
        padding-top: 100%;
        width: 100%;

        &.selected,
        &:hover {
          border-color: $blue_dark !important;
        }
      }
    }
  }
}
