#root{
    font-family: 'Lemon/Milk Regular';
    background: -moz-linear-gradient(45deg, #fbcdc2 10%, #fbcdc2 25%, #96d0f1 50%, #96d0f1 75%, #96d0f1  80%); 
    background: -webkit-linear-gradient(45deg, #fbcdc2 10%, #fbcdc2 25%, #96d0f1 50%, #96d0f1 75%, #96d0f1  80%);
    background: linear-gradient(70deg, #fbcdc2 0%, #fbcdc2 20%, #fbcdc2 40%, #96d0f1 60%, #96d0f1  100%);
    height:1000px;
}

.Select-Container{
    align-items: center;
    display: flex;
    flex-direction: column;
    
.Select-body{
    background:white;
    opacity: 0.5;
    height:600px;
    width:1200px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    .Select-face{
        height: inherit;
        display: flex;
        flex-direction: row;
    .Select-face-avatar{
        width:40%;
        display: flex;
        flex-direction:column;
        align-items: center;
        justify-content: center;
        .Select-face-avatar-label{
            color:black;
            font-size:1em;
        }
        .Select-face-avatar-container{
            width: 250px;
            height: 400px;
            background-color: black;
            border-radius: 12px;
            margin-top:1rem;
        }
    }
    .Select-face-components{
        height: inherit;
        width:80% ;
        display: flex;
        flex-direction:column;
        align-items: center;
        justify-content: center;
        .Select-face-components-label{
            color:black;
            font-size:1em;
        }
        .Select-face-components-container{
            border-radius: 12px;
            height: 400px;
            width:450px;
            background-color: black;
            margin-top:1rem;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            justify-content: space-around;
            flex-direction: row;
            padding:5px;
            overflow:auto;

        }.Select-face-tile{
            width:5rem;
            height: 5rem;
            background-color: white;
            opacity: 0.8;
            border-radius: 100%;
            margin: 5px;
            transition: all .2s ease-in-out;
            &:hover{
                transform: scale(1.5);
            }
        }
    }
    .Select-clothes-components{
        height: inherit;
        width:80% ;
        display: flex;
        flex-direction:column;
        align-items: center;
        justify-content: center;
        .Select-clothes-components-label{
            color:black;
            font-size:1em;       
        }
        .Select-clothes-components-container{
            border-radius: 12px;
            height: 400px;
            width:450px;
            background-color:#682331;
            margin-top:1rem;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            justify-content: space-around;
            flex-direction: row;
            padding:5px;
            overflow:auto;
        }.Select-cloth-tile{
            width:5rem;
            height: 5rem;
            background-color: white;
            opacity: 0.8;
            border-radius: 3px;
            margin: 5px;
            transition: all .2s ease-in-out;
            &:hover{
                transform: scale(1.5);
        }
    }}.Select-clothes-components-alternate{
        display:none!important;

    }
    .Select-accessories-components{
        height: inherit;
        width:80% ;
        display: flex;
        flex-direction:column;
        align-items: center;
        justify-content: center;
        .Select-accessories-components-label{
            color:black;
            font-size:1em;
        }
        .Select-accessories-components-container{
            border-radius: 12px;
            height: 400px;
            width:450px;
            background-color:#7A2960;
            margin-top:1rem;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            justify-content: space-around;
            flex-direction: row;
            padding:5px;
            overflow:auto;
        }.Select-accessories-tile{
            width:5rem;
            height: 5rem;
            background-color: white;
            opacity: 0.8;
            border-radius: 3px;
            margin: 5px;
            transition: all .2s ease-in-out;
            &:hover{
                transform: scale(1.5);
        }
    }}.Select-accessories-components-alternate{
        display:none;}
}
.Select-face-components-alternate{
    display:none;
}}}

@media only screen and (min-width:501px){
    .Select-body { 
        width: 80%!important; 
    }
    .Select-headers{width:80%!important}
    .Select-face-components{width:80%!important}
    .Select-face-components-container{width:90%!important;}
    .Select-clothes-components-container{width:90%!important}
    .Select-accessories-components-container{width:90%!important}
    .Select-face-avatar{width:60%!important}
    .Select-face-avatar-container{width:60%!important;height: 400px!important;}
}

@media only screen and (max-width: 500px){
    .Select-face { 
    display: flex!important;
    flex-direction: column!important;
    align-items: center;
    justify-content: space-evenly;
    padding-top:1rem;

    }
    .Select-body {
         width: 60%!important;
         height: 850px!important;
     }
    .Select-headers{
        width: 60%!important;
        height: 40%!important; 
        flex-direction: column!important;
        .Select-header-1{
            width: 100% !important;
            height:2rem!important;
        }
        .Select-header-1-alternate{
            width: 100% !important;
            height:2rem!important;

        }.Select-header-2{
            width: 100% !important;
            border-top-left-radius: 0px!important;
            border-top-right-radius: 0px!important;
            height:2rem!important;

        }.Select-header-2-alternate{
            width: 100% !important;
            border-top-left-radius: 0px!important;
            border-top-right-radius: 0px!important;
            height:2rem!important;
        }.Select-header-3{
            width: 100% !important;
            border-top-left-radius: 0px!important;
            border-top-right-radius: 0px!important;
            height:2rem!important;
        }
        .Select-header-3-alternate{
            width: 100% !important;
            border-top-left-radius: 0px!important;
            border-top-right-radius: 0px!important;
            height:2rem!important;
        }
    }
    .Select-face-components{
        width:100%!important;
        height: 50%!important;
    }
    .Select-face-components-container{width:90%!important;}
    .Select-face-avatar{ width:100%!important;justify-content: flex-start!important;}
    .Select-face-avatar-container{width: 80%!important;height: 300px!important;}
    .Select-clothes-components-container{
        width:90%!important;
    }
    .Select-accessories-components-container{width:90%!important}
    .Select-accessories-components{
        width:100%!important;
        height: 50%!important;
    }
    .Select-clothes-components{
        width:100%!important;
        height: 50%!important;
    }
}

.Select-headers{
    height:3rem;
    display:flex;
    width:1200px;
    flex-direction:row;
    color:white;
    .Select-header-1{
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
        background-color:white;
        color:black;
        opacity: 0.8;
        width:400px;
        text-align:center;
        align-items: center;
        padding-top:1rem;

    }.Select-header-1-alternate{
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
        width:400px;
        text-align:center;
        align-items: center;
        padding-top:1rem;
        background-color: black;
    }.Select-header-1-alternate:hover{
        background-color: white;
        opacity: 0.4;
        color:black;
    }
    .Select-header-2-alternate{
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
        background-color:#a9a9a9;
        width:400px;
        text-align:center;
        align-items: center;
        padding-top:1rem;
        background-color: black;
    }.Select-header-2-alternate:hover{ 
    background-color: white;
    color: black;
    opacity: 0.4;
    }.Select-header-2{
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
        background-color:#a9a9a9;
        width:400px;
        text-align:center;
        align-items: center;
        padding-top:1rem;
        background-color: white;
        opacity: 0.8;
        color:black;
    }.Select-header-3-alternate{
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
        background-color:#a9a9a9;
        width:400px;
        text-align:center;
        align-items: center;
        padding-top:1rem;
        background-color: black;
    }.Select-header-3-alternate:hover{ 
        color:black;
        background-color: white;
        opacity: 0.4;
    }.Select-header-3{
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
        background-color:#a9a9a9;
        width:400px;
        text-align:center;
        align-items: center;
        padding-top:1rem;
        background-color: white;
        opacity: 0.8;
        color: black;
    }
}