@import './colors.scss';

// -------------------------------- Pop-up --------------------------------

.modal { 
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: none;
    text-align: center;
    font-family: Muli;

    &.visible {
        display: flex;
    }
}

.modal-dialog {
    background: $white;
    border-radius: 3px;
    cursor: default;
    display: flex;
	justify-content: space-between;
    flex-direction: column;
    height: 30vw;
    overflow: hidden;
    position: relative;
    width: 30vw;
}

.modal-header {
    background: $blue_light;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 48px;
    flex-shrink: 0;
    flex-basis: 48px;
    width: 100%;

    .close-modal {
        font-size: 2rem;
        cursor: pointer;
        background: transparent;
        border: none;
        outline: none;
        font-size: inherit;
    }
}

.modal-content {
    background-color: #efeff6;
    box-sizing: border-box;
    display: block;
    padding: 15px;
    overflow: scroll;
}

.modal-footer {
	align-items: center;
    background: $blue_light;
	display: flex;
	justify-content: center;
	padding: 16px 0;

	input {
		background: transparent;
		border: 2px solid #2a4578;
		border-radius: 4px;
		cursor: pointer;
		font-size: 14px;
		outline: none;
		padding: 4px 12px;
	}
}

//----- CSS for time slot selecter

.time-selector {
    overflow: scroll;
    text-align: center;
    display: flex;
    align-items: top;
    justify-content: center;
}

.day {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 50%;
}

.datelabel {
    margin-bottom: 8px;
}

.timeslot {
    background: transparent;
    border: 2px solid $blue_text;
    color: $blue_text;
    cursor: pointer;
    width: 96px;
    font-family: Muli;
    padding: 8px;
    margin-top: 5px;
    font-size: 14px;
    border-radius: 3px;
    text-align: center;
    transition: 0.2s ease all;
}

.timeslot:hover { 
    background-color: $blue_text;
    color: #fff;
}

.interactable {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: top;
    max-width: 100px;
    max-height: 100px;
    width: auto;
    height: auto;
}
