
// -------------------------------- Pop-up --------------------------------

:root {
    --bounceEasing: cubic-bezier(0.51, 0.92, 0.24, 1.15);
}

button {
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    font-size: inherit;
}

.btn-group {
    text-align: center;
}

.open-modal {
    font-weight: bold;
    background: $blue_text;
    color: $white;
    padding: .75rem 1.75rem;
    margin-bottom: 1rem;
    border-radius: 5px;
}

.modal { 
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background: $blue_text;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    transition: all 0.35s ease-in;
}

.modal-dialog {
    position: relative;
    max-width: 800px;
    max-height: 80vh;
    border-radius: 5px;
    background: $white;
    overflow: auto;
    cursor: default;
}

.modal-dialog > * {
    padding: 1rem;
}

.modal-header,
.modal-footer {
    background: $blue_light;
}

.modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.modal-header .modal-close {
    font-size: 1.5rem;
}

.modal p + p {
    margin-top: 1rem;
}

.modal {
    visibility: hidden;
    opacity: 0;
    transition: all 0.35s ease-in;
}

.modal.is-visible {
    visibility: visible;
    opacity: 1;
}

[data-animation="slideInOutLeft"] .modal-dialog {
    opacity: 0;
    transform: translateX(-100%);
    transition: all 0.5s var(--bounceEasing);
}

[data-animation="slideInOutLeft"].is-visible .modal-dialog {
    opacity: 1;
    transform: none;
    transition-delay: 0.2s;
}

//----- CSS for time slot selecter
.days {
    width: 1000px;
}

.day {
    width: 120px;
    height: 230px;
    background-color: #efeff6;
    padding:10px;
    float:left;
    margin-right:7px;
    margin-bottom:5px;
}

.datelabel {
    margin-bottom: 15px;
}

.timeslot {
    background-color: $blue_text;
    width: auto;
    height: 20px;
    color:$white;
    padding:7px;
    margin-top: 5px;
    font-size: 14px;
    border-radius: 3px;
    vertical-align: center;
    text-align:center;
}

.timeslot:hover { 
    background-color: $blue_light;
    cursor: pointer;
}
