@import 'fonts';
@import 'colors';
@import 'variables';

#feedback {
  background-image: url(../images/windows.png); //blue background
  background-size: cover;
  background-repeat: no-repeat;
  color: $white !important;
  height: 505px;
  border-radius: 6px;
  //background: $blue_light;
  //color: $white !important;
  //border-radius: 6px;
  //height: 100%;
  //width: 100%; //make size relative to the window


  #inner { //Eva's border css
    width: 100%;
    height: 100%;
    position: absolute;
    border: 2px solid rgb(215,218,232);
    border-radius: 6px; //round courner
    top: -12px;
    left: -12px;
    z-index: 10;
  }

  #root {
    padding: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  * {
    padding: 0;
    margin: 0;
    font-family: Muli;
  }

  p,
  h1,
  h2 {
    font-family: Muli;
    color: $white;
  }

  h1,
  h2 {
    font-family: LemonMilkMedium;
    color: rgb(026, 035, 083) !important;
  }
}

#feedback-logo {
  background-size: 100% 100%;
  height: 150px;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  background-image: url(../images/Individual_Logo.png);
}

#feedback-header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: row;
  margin: 0 0 1em 0;
  position: relative;
  top: 20px;

  #feedback-gear {
    padding: 0 10px;
    background-image: url(../images/settingsicon.svg);
    background-size: 16em auto;
    height: 2em;
    width: 2em;
    background-position: center;
  }

}

#feedback-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 10px;
  z-index: 100;
}

#feedback-flexcenter {
  display: flex;
  justify-content: center;
}

#feedback-logout {
  display: flex;
  justify-content: center;
  border-radius: 6px;
  color: #c0c0c0;
  border: 2px solid #c0c0c0;
  cursor: pointer;
  background: $white;
  text-align: center;
  outline: none;
  // border: none;
  margin: 2em 1em;
  padding: 0.5em;
  width: 16vw;
  z-index: 25; //log off button layer
  //   height: 38px;

  &:hover {
    background: #c0c0c0;
    color: $white;
  }
}

#feedback-option {
  display: flex;
  flex-direction: row;
  align-items: center;
  // padding: 0 20px 0 0;
  width: 40%;
  z-index: 30;
  // justify-content: center;

  #feedback-box {
    background-image: url(../images/box.svg);
    background-size: cover;
    height: 3em;
    width: 4em;
    background-position: center;
  }
}

#feedback-button {
  cursor: pointer;
  color: $white;
  background-color: $blue_light;
  border: none;
  outline: none;
  margin: 1em 0;
  z-index: 20;
}

#feedback-flexcenter {
  display: flex;
  justify-content: center;
}

#feedback-button:hover {
  color: $blue_text;
}

#feedback-logout {
  display: flex;
  justify-content: center;
  color: #c0c0c0;
  border: 2px solid #c0c0c0;
  cursor: pointer;
  background: $white;
  text-align: center;
  outline: none;
  // border: none;
  margin: 2em 1em;
  padding: 0.5em;
  width: 16vw;
  z-index: 25;
  //   height: 38px;

  &:hover {
    background: #c0c0c0;
    color: $white;
  }
}

#feedback-clouds {
  background-image: url(../images/settingsclouds.svg);
  min-height: 200px; //size of the cloud
  background-size: cover;
}
