@charset "utf-8";

@import 'variables';

@import 'fonts';
@import 'colors';

$top_bar_height: 64px;
$top_bar_logo_width: 64px;
$chat_bar_height: 52px;
$chat_input_height: 40px;

* {
  padding: 0;
  margin: 0;
}

body {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

h1,
h2,
h3,
h4 {
  font-family: LemonMilkMedium;
  color: $blue-text;
}

b {
  font-family: MuliBold;
  color: $blue-text;
}

p,
span,
div {
  font-family: Muli;
  color: $blue-text;
}

html {
  height: 100%;
  width: 100%;
}

body {
  background: rgb(150, 208, 241);
  background: linear-gradient(
    135deg,
    rgba(150, 208, 241, 1) 0%,
    rgba(251, 205, 194, 1) 100%
  );
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
}

.invisible {
  visibility: hidden;
}

#unsupported {
  margin: auto;
}

#outer {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  #top-bar {
    display: grid;
    grid-template-columns: 1fr $top_bar_logo_width 1fr;
    background: rgba(255, 255, 255, 0.6);
    height: $top_bar_height;
    width: 100%;

    #top-bar-logo {
      background: transparent;
      align-items: center;
      grid-column-start: 2;
      transform: translateY(10px);
      width: $top_bar_logo_width;
      cursor: pointer;
    }

    #top-bar-button-container {
      display: flex;
      justify-content: flex-end;

      button {
        background: none;
        border: none;
        cursor: pointer;
        margin-left: 20px;
        margin-right: 20px;
        width: 32px;

        &:hover {
          transform: translateY(-2px);
        }
      }
    }

    #swoopy {
      position: absolute;
      left: 50%;
      top: $top_bar_height;
      transform: translateX(-50%);
      width: 84px;
      z-index: -1;
    }
  }

  #main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  &.vertical #game {
    width: 100vw;
    max-height: 56.25vw;
  }

  #game {
    width: calc((100vh - #{$top_bar_height} - #{$chat_bar_height}) * (16 / 9));
    height: calc(100vh - #{$top_bar_height} - #{$chat_bar_height});
  }
}

#chat {
  background: $chat_box_background;
  border-radius: 8px;
  display: flex;
  height: $chat_bar_height;
  align-items: center;
  justify-content: space-around;
  padding: 0 16px;

  input {
    color: #fff;
    font-family: Muli;
    font-size: 14px;
    background: $chat_input_background;
    text-align: left;
    border-radius: 8px;
    height: $chat_input_height;
    padding: 0 10px;
    width: 320px;
    border: none;
    margin-left: 8px;
    margin-right: -20px;
  }

  #chat-length-indicator {
    background: $chat_input_background;
    box-sizing: border-box;
    color: #ddd;
    font-size: 13px;
    text-align: right;
    line-height: $chat_input_height;
    padding: 0 8px;
    position: absolute;
    left: calc(50% + 125px);
    transform: translateX(-50%);
  }

  button,
  .chat-button {
    color: #fff;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #24447c;
    text-align: center;
    border-radius: 50%;
    outline: none;
    border: none;
    box-sizing: border-box;
    width: 36px;
    height: 36px;
    margin: 0 3px;
    padding: 8px;

    &#send-button {
      border: 3px solid $chat_box_background;
      margin-left: 0;
      margin-right: 5px;
      padding: 10px 10px 7px 7px;
      width: 42px;
      height: 42px;
    }

    &:active {
      background: #1b2450;
    }

    img {
      width: 100%;
    }

    &#friends-button {
      position: relative;

      .new-message-indicator {
        position: absolute;
        top: 0;
        right: 0;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: #ff9797;
      }
    }
  }
  .dance-pane-button {
    background: #7b9fce;
  }
}

#game {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
  overflow: hidden;
  display: flex;

  #background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: -100;
  }

  #add-button {
    cursor: pointer;
    height: 32px;
    width: 32px;
    position: absolute;
    top: 72px;
    right: 24px;
    display: none;

    &.visible {
      display: block;
    }
  }

  #add-hallway-button {
    cursor: pointer;
    height: 32px;
    width: 32px;
    position: absolute;
    top: 120px;
    right: 24px;
    display: none;

    &.visible {
      display: block;
    }
  }

  #add-room-button {
    cursor: pointer;
    height: 32px;
    width: 32px;
    position: absolute;
    top: 168px;
    right: 24px;
    display: none;

    &.visible {
      display: block;
    }
  }

  #edit-button {
    cursor: pointer;
    height: 32px;
    width: 32px;
    position: absolute;
    top: 24px;
    right: 24px;
  }

  #form-button {
    cursor: pointer;
    height: 32px;
    width: 32px;
    position: absolute;
    top: 24px;
    right: 24px;
    display: block;
    background: red;
    border: none;
    border-radius: 50%;
  }

  #queue-hacker-button {
    position: absolute;
    bottom: 156px;
    right: 24px;
    height: 64px;
    width: 64px;
    cursor: pointer;
  }

  #queue-sponsor-button {
    position: absolute;
    bottom: 90px;
    right: 24px;
    height: 64px;
    width: 64px;
    cursor: pointer;
  }
}

.element {
  position: absolute;
  transform: translate(-50%, -50%);

  &.editable {
    cursor: grab;
  }

  &.invisible {
    display: none;
  }

  img {
    width: 100%;
  }

  select {
    position: absolute;
    transform: translate(-50%, 100%);
    left: 50%;
    top: 100%;
    display: none;
  }

  .delete {
    background: #000;
    box-sizing: border-box;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    display: none;
    width: 32px;
    height: 32px;
    top: -1px;
    left: -1px;
    transform: translate(-50%, -50%);
    padding: 8px;

    img {
      width: 100%;
    }
  }

  .resizer {
    position: absolute;
    display: none;
    width: 16px;
    height: 16px;
    border-bottom: 2px solid #000;
    border-right: 2px solid #000;
    right: 4px;
    bottom: 4px;

    &.bottom-right {
      cursor: nwse-resize;
    }
  }

  &.editing {
    border: 2px solid #000;

    .delete,
    .resizer,
    select {
      display: block;
    }
  }

  &.moving {
    cursor: grabbing;
  }
}

#three-container {
  height: 100%;
  width: 100%;
  position: relative;
}

#login-panel {
  background: #fff;
  border: 2px solid #333;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
  left: 50%;
  padding: 24px 24px 28px;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 400px;

  h1 {
    margin-bottom: 8px;
  }

  h2 {
    font-size: 20px;
    margin-top: 16px;
  }

  .field {
    p {
      font-size: 14px;
      margin: 0;
      text-align: left;
    }

    input {
      text-align: left;

      &[type='text'] {
        margin-top: 0;
      }
    }

    &.checkbox {
      margin: 8px 0;
      display: flex;
      justify-content: left;
      align-items: top;

      &.extra-vspace {
        margin-top: 16px;
      }

      &.centered {
        justify-content: center;

        p,
        div {
          flex-grow: initial;
        }
      }

      input[type='checkbox'] {
        margin-right: 12px;
        margin-top: 3px;

        &:checked ~ div input[type='text'] {
          display: block;
        }
      }

      p,
      div {
        flex-grow: 1;
      }

      input[type='text'] {
        display: none;
        font-size: 14px;
        margin: 4px 0;
        padding: 8px;
      }
    }
  }

  a.button,
  button {
    border: none;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 16px;
    margin-top: 16px;
    padding: 10px 0;
    text-decoration: none;
    width: 100%;

    &:disabled {
      background: #ccc !important;
      cursor: default;
    }

    &.green {
      background: #43a047;

      &:hover {
        background: #388e3c;
      }
    }

    &.blue {
      background: #039be5;

      &:hover {
        background: #0288d1;
      }
    }

    &.red {
      background: #db5a42;

      &:hover {
        background: #d64329;
      }
    }
  }

  p {
    font-size: 14px;
    margin: 8px;

    &.small {
      font-size: 12px;
      margin-bottom: 12px;
    }
  }

  input[type='text'] {
    border: 1px solid #ccc;
    border-radius: 2px;
    box-sizing: border-box;
    font-size: 14px;
    margin: 16px 0 8px;
    padding: 12px;
    text-align: center;
    width: 100%;
  }

  .buttons-container {
    display: flex;
    align-items: center;
    justify-content: center;

    button:first-of-type {
      margin-right: 16px;
    }
  }

  #error-text {
    color: #f75939;
    margin-bottom: -4px;
    display: none;

    &.visible {
      display: block;
    }
  }
}

// make prettier
.text-bubble {
  background-color: #fff;
  border: none;
  font-family: Muli;
  border-radius: 4px;
  display: block;
  font-size: 13px;
  left: 50%;
  padding: 8px 16px;
  position: absolute;
  // TODO: This needs to update with scaling
  transform: translate(-50%, calc(-100% - 80px));
  max-width: 120px;
  text-align: left;
  overflow-wrap: break-word;
}

#game > .name {
  color: #000;
  display: block;
  font-family: $font-family;
  font-size: 13px;
  position: absolute;
  left: 50%;
  text-align: center;
  transform: translate(-50%, 104px);
  width: 200%;
  z-index: -1;
}

.mssg {
  color: black;
  font-family: $font-family;
  font-size: 13px;
  transform: translateY(-18px);
}

#quarantine-modal {
  background: $blue_light;
  width: 32vw;
  color: $white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 32px;
  text-align: center;

  .white-text {
    color: $white !important;
  }
}

#jukebox-modal {
  background: $blue_light;
  color: $white;
  width: 60vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 32px;
  text-align: center;

  .white-text {
    color: $white !important;
  }
}

#form-reminder-modal {
  #form-button-div {
    display: inline-block;
    text-align: center;
    
    button {
      background: #43a047;
      border: none;
      border-radius: 4px;
      color: #fff;
      cursor: pointer;
      display: inline-block;
      font-size: 14px;
      margin: 10px;
      outline: none;
      padding: 12px 16px;
  
      &:hover {
        background: #388e3c;
      }
    }
  
    #later-button {
      background: #EED202;
      display: inline-block;

      &:hover {
        background: #eed202af;
      }
    }
  }
  
  #form-reminder {
    h1 {
      padding: 5px;
      text-align: center;
    }
  }
}
