@charset "utf-8";

@import 'variables';
//@font-face {font-family: "Lemon/Milk"; src: url("//db.onlinewebfonts.com/t/67137b5f6928edc941186baaab5a664b.eot"); src: url("//db.onlinewebfonts.com/t/67137b5f6928edc941186baaab5a664b.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/67137b5f6928edc941186baaab5a664b.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/67137b5f6928edc941186baaab5a664b.woff") format("woff"), url("//db.onlinewebfonts.com/t/67137b5f6928edc941186baaab5a664b.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/67137b5f6928edc941186baaab5a664b.svg#Lemon/Milk") format("svg"); }
@font-face {
    font-family: 'Lemon/Milk';
    src: url("//db.onlinewebfonts.com/t/67137b5f6928edc941186baaab5a664b.eot"); 
    src: url("//db.onlinewebfonts.com/t/67137b5f6928edc941186baaab5a664b.eot?#iefix") format("embedded-opentype"), 
    url("//db.onlinewebfonts.com/t/67137b5f6928edc941186baaab5a664b.woff2") format("woff2"), 
    url("//db.onlinewebfonts.com/t/67137b5f6928edc941186baaab5a664b.woff") format("woff"), 
    url("//db.onlinewebfonts.com/t/67137b5f6928edc941186baaab5a664b.ttf") format("truetype"), 
    url("//db.onlinewebfonts.com/t/67137b5f6928edc941186baaab5a664b.svg#Lemon/Milk") format("svg"); 
    font-weight: normal;
    font-style: normal;
}

@import "fonts";
@import "colors";

* {
    padding: 0;
    margin: 0;
}

h1, h2 {
    font-family: LemonMilkMedium;
    color: $blue-text;
}

b {
    font-family: MuliBold;
    color: $blue-text; 
}

p {
    font-family: Muli;
    color: $blue-text;
}

html {
    height: 100%;
    width: 100%;
}

body {
    background: rgb(150, 208, 241);
    background: linear-gradient(135deg, rgba(150, 208, 241, 1) 0%, rgba(251, 205, 194, 1) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
}

#outer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    #main {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        flex-grow: 1;
    }
}

#game {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#login-panel {
    background: #fff;
    border: 2px solid #333;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
    left: 50%;
    padding: 24px 24px 28px;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 400px;

    a {
        border-radius: 3px;
        color: #fff;
        display: block;
        margin: 16px 16px 0;
        padding: 10px 0;
        text-decoration: none;

        &.hacker {
            background: #43a047;

            &:hover {
                background: #388e3c;
            }
        }

        &.sponsor {
            background: #039be5;

            &:hover {
                background: #0288d1;
            }
        }
    }
}

.character {
    background: url(../images/penguin.jpg);
    background-size: 80px 100px;
    display: flex;
    justify-content: center;
    align-items: top;
    position: relative;
    width: 80px;
    height: 100px;
    transform: translate(-50%, -100%);
    transition-property: all;
    /* slight speed-up at beginning and slow-down at end */
    /* use cubic-bezier.com to experiment with other timing functions */
    transition-timing-function: cubic-bezier(0.15, 0, 0.85, 1);
}

.earth {
    background: url(../images/circle-cropped.png);
    background-size: 30px 30px;
    display: flex;
    justify-content: center;
    align-items: top;
    margin-top: 10px;
    margin-left: 135px;
    position: absolute;
    width: 30px;
    height: 30px;
    transform: translate(-50%, -100%);
    transition-property: all;
    /* slight speed-up at beginning and slow-down at end */
    /* use cubic-bezier.com to experiment with other timing functions */
    //transition-timing-function: cubic-bezier(0.15, 0, 0.85, 1);
}

.character span {
    color: black;
    font-family: $font-family;
    font-size: 13px;
    transform: translateY(-18px);
}

// make prettier
.character .text-bubble {
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 4px;
    display: block;
    font-family: $font-family;
    font-size: 13px;
    left: 50%;
    padding: 8px 16px;
    position: absolute;
    top: 0;
    transform: translate(-50%, -100%);
}

.name {
    color: #000;
    display: block;
    font-family: $font-family;
    font-size: 13px;
    position: absolute;
    left: 50%;
    text-align: center;
    transform: translate(-50%, 104px);
    width: 200%;
}

.mssg {
    color: black;
    font-family: $font-family;
    font-size: 13px;
    transform: translateY(-18px);
}

.profile {
    background-color: #1B4481;
    width: 200px;
    height: 350px;
    position: absolute;
    bottom: 130px;
    border-radius: 20px;
}

.profile-back {
    background-color: #FFFFFF;
    width: 180px;
    height: 300px;
    position: absolute;
    bottom: 170px;
    border-radius: 20px;
}

.profile-gradient {
    background: rgb(150,208,241);
    background: linear-gradient(140deg, rgba(150,208,241,1) 9%, rgba(251,205,194,1) 93%);
    width: 160px;
    height: 240px;
    position: absolute;
    bottom: 180px;
    border-radius: 20px;
}

.bio-gradient {
    background: rgb(255,255,255);
    background: linear-gradient(60deg, rgba(255,255,255,0.23012955182072825) 44%, rgba(251,205,194,0.15730042016806722) 57%);
    width: 160px;
    height: 70px;
    position: absolute;
    bottom: 180px;
}

.profile-button {
    background: #FFFFFF;
    display: inline-block;
    width: 30px;
    height: 30px;
    position: absolute;
    bottom: 135px;
    border-radius: 50px;
}

@font-face {
    font-family: 'Lemon/Milk';
    src: url('http://www.fontsaddict.com/fontface/lemonmilk.ttf');
  }

.profile-text {
    color: #001D55;
    size: 400px;
    text-align: center;
    position: absolute;
    left: 15%;
    margin-right: -20%;
    margin-top: 10px;
    font-family: font-face;
}

.bio-text {
    color: #001D55;
    size: 400px;
    margin-top: 10px;
    font-size: 10px;
    text-align: center;
    position: absolute;
    margin-top: 10px;
    padding: 5px;
    font-family: font-face;
}

.sub-text {
    color: #001D55;
    size: 400px;
    font-size: 10px;
    text-align: center;
    position: absolute;
    margin-top: 30px;
    left: 15%;
    margin-right: -20%;
    font-family: font-face;
}

// -------------------------------- Pop-up --------------------------------

:root {
    --bounceEasing: cubic-bezier(0.51, 0.92, 0.24, 1.15);
}

button {
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    font-size: inherit;
}

.btn-group {
    text-align: center;
}

.open-modal {
    font-weight: bold;
    color: $white;
    padding: .75rem 1.75rem;
    margin-bottom: 1rem;
    border-radius: 5px;
}

.modal { 
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background: transparent;
    cursor: pointer;
    visibility: hidden;
    text-align: center;
    font-family: Muli;
}

.modal-dialog {
    position: relative;
    max-width: 30vw;
    max-height: 30vw;
    border-radius: 5px;
    background: $white;
    overflow: auto;
    cursor: default;
}

.modal-dialog > * {
    padding: 1rem;
}

.modal-header,
.modal-footer {
    background: $blue_light;
}

.modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.modal-header .modal-close {
    font-size: 1.5rem;
}

.modal p + p {
    margin-top: 1rem;
}

.modal {
    visibility: hidden;
    opacity: 0;
    //transition: all 0.35s ease-in;
}

.modal.is-visible {
    visibility: visible;
    opacity: 1;
}

[data-animation="slideInOutLeft"] .modal-dialog {
    opacity: 0;
    transform: translateX(-100%);
    transition: all 0.5s var(--bounceEasing);
}

[data-animation="slideInOutLeft"].is-visible .modal-dialog {
    opacity: 1;
    transform: none;
    transition-delay: 0.2s;
}

//----- CSS for time slot selecter

.time-selector {
    height: 30vw;
    width: 30vw;
    overflow: scroll;
    border: 5px;
    text-align: center;
}

.days {
    width: 50vw;
    align-items: center;
    justify-content: center;
}

.day {
    width: 10vw;
    height: 30vw;
    background-color: #efeff6;
    padding: 10px;
    align-items: center;
    text-align: center;
    float: left;
    margin-right: 5px;
    margin-left: 5px;
}

.datelabel {
    margin-bottom: 15px;
}

.timeslot {
    background-color: $blue_text;
    width: 7vw;
    font-family: Muli;
    height: 3vw;
    color: $white;
    padding: 7px;
    margin-top: 5px;
    font-size: 14px;
    border-radius: 3px;
    align-items: center;
    vertical-align: center;
    text-align: center;
}

.timeslot:hover { 
    background-color: $blue_light;
    cursor: pointer;
}

.timeslot:focus { 
    background-color: $accent_blue;
}

.interactable {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: top;
    max-width: 100px;
    max-height: 100px;
    width: auto;
    height: auto;
}
