@charset "utf-8";

@import 'variables';

@import "fonts";
@import "colors";

* {
    padding: 0;
    margin: 0;
}

h1, h2 {
    font-family: LemonMilkMedium;
    color: $blue-text;
}

b {
    font-family: MuliBold;
    color: $blue-text; 
}

p {
    font-family: Muli;
    color: $blue-text;
}

html {
    height: 100%;
    width: 100%;
}

body {
    background: rgb(150, 208, 241);
    background: linear-gradient(135deg, rgba(150, 208, 241, 1) 0%, rgba(251, 205, 194, 1) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
}

#outer {
    width: 100%;
    height: 100%;

    &.sponsor {
        display: flex;
        flex-direction: column;
        align-items: center;

        #main {
            display: flex;
            align-items: center;
            justify-content: space-around;
            flex-grow: 1;
        }

        #chat {
            position: static;
            transform: inherit;
        }
    }

    #main {
        width: 100%;
        height: 100%;
    }
}

#chat {
	background: #7b9fce;
	border-radius: 8px;
	display: flex;
	height: 52px;
	width: 60%;
	align-items: center;
	justify-content: space-around;
	padding: 0 16px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);

	input[type=text] {
		color: #fff;
		font-family: Muli;
		background: #051e52;
		text-align: left;
		border-radius: 8px;
		height: 38px;
		padding: 0 8px;
		width: 60%;
		border: none;
	}

	button {
		color: #fff;
		cursor: pointer;
		background: #24447c;
		text-align: center;
		border-radius: 50%;
		outline: none;
		border: none;
		width: 38px;
		height: 38px;

		&:active {
			background: #1b2450;
		}
	}
}

#game {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
}

.element {
	cursor: move;
	position: absolute;
	transform: translate(-50%, -50%);

	.resizer {
		position: absolute;
		display: none;
		width: 16px;
		height: 16px;
		border-bottom: 2px solid #000;
		border-right: 2px solid #000;
		right: 4px;
		bottom: 4px;

		&.bottom-right {
			cursor: nwse-resize;
		}
	}

	&.editing {
		border: 2px solid #000;
		z-index: 1000;

		.resizer {
			display: block;
		}
	}
}

#three-container {
  height: 100%;
  width: 100%;
}

#login-panel {
    background: #fff;
    border: 2px solid #333;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
    left: 50%;
    padding: 24px 24px 28px;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 400px;

    a {
        border-radius: 3px;
        color: #fff;
        display: block;
        margin: 16px 16px 0;
        padding: 10px 0;
        text-decoration: none;

        &.hacker {
            background: #43a047;

            &:hover {
                background: #388e3c;
            }
        }

        &.sponsor {
            background: #039be5;

            &:hover {
                background: #0288d1;
            }
        }
    }
}

// make prettier
.text-bubble {
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 4px;
    display: block;
    font-family: $font-family;
    font-size: 13px;
    left: 50%;
    padding: 8px 16px;
    position: absolute;
    top: 0;
    transform: translate(-50%, -100%);
}

.name {
    color: #000;
    display: block;
    font-family: $font-family;
    font-size: 13px;
    position: absolute;
    left: 50%;
    text-align: center;
    transform: translate(-50%, 104px);
    width: 200%;
}

.mssg {
    color: black;
    font-family: $font-family;
    font-size: 13px;
    transform: translateY(-18px);
}
