@import 'variables';

* {
    padding: 0;
    margin: 0;
}

html, body {
    overflow: hidden;
}

body {
    width: 100%;
    height: 100%;
    background: url(../images/home.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.character {
    background: url(../images/penguin.jpg);
    background-size: 80px 100px;
    display: flex;
    justify-content: center;
    align-items: top;
    position: absolute;
    width: 80px;
    height: 100px;
    transform: translate(-50%, -100%);
    transition-property: all;
    /* slight speed-up at beginning and slow-down at end */
    /* use cubic-bezier.com to experiment with other timing functions */
    transition-timing-function: cubic-bezier(0.15, 0, 0.85, 1);
}

.character span {
    color: black;
    font-family: $font-family;
    font-size: 13px;
    transform: translateY(-18px);
}
