@import 'colors';

#jukebox-background {
  width: calc(100vw + 400px);
  height: 100vh;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0);
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: left;
  padding-right: 0;
  transition: 0.25s ease all;

  &.opening {
    background: rgba(0, 0, 0, 0.7);
    width: 100vw;
  }

  &.closing {
    background: rgba(0, 0, 0, 0);
    width: calc(100vw + 400px);
  }
}

.Jukebox-display-tag {
  visibility: visible;
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 200px;
  height: 3rem;
  font-size: 30px;
  color: white;
  text-align: center;
  padding-top: 0.8rem;
  border-radius: 12px;
  background-color: $blue_dark;
}
.Jukebox-display-tag-alternate {
  visibility: hidden;
}

.Jukebox-display-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-top: 2em;
  .Jukebox-display-container-viewer {
    width: 800px;
    height: 500px;
    background-color: $blue_dark;
    border-radius: 15px;
  }
  .Jukebox-display-messaging-container {
    width: 900px;
    height: 80px;
    border-radius: 12px;
    background-color: $blue_light;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    .Jukebox-display-messaging-container-leftbuttons {
      display: flex;
      flex-direction: row;
      width: 150px;
      justify-content: space-evenly;
      align-items: center;
    }
    .Jukebox-display-messaging-container-messagebox {
      width: 500px;
      height: 70px;
      background-color: $blue_dark;
      border-radius: 12px;
    }
    .Jukebox-display-messaging-container-rightbuttons {
      display: flex;
      flex-direction: row;
      width: 150px;
      justify-content: space-evenly;
      align-items: center;
    }
    .Jukebox-display-messaging-container-button {
      width: 60px;
      height: 60px;
      background-color: $blue_dark;
      border-radius: 100%;
    }
  }
}

#jukebox-container {
  width: 400px;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background: -moz-linear-gradient(
    180deg,
    #fbcdc2 0%,
    #fbcdc2 10%,
    #fbcdc2 30%,
    #96d0f1 40%,
    #96d0f1 100%
  );
  background: -webkit-linear-gradient(
    18deg,
    #fbcdc2 0%,
    #fbcdc2 10%,
    #fbcdc2 30%,
    #96d0f1 40%,
    #96d0f1 100%
  );
  background: linear-gradient(
    180deg,
    #fbcdc2 0%,
    #fbcdc2 10%,
    #fbcdc2 30%,
    #96d0f1 40%,
    #96d0f1 100%
  );

  .jukebox-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0.4rem;
    width: 100%;

    .spacer {
      width: 32px;
    }

    h2 {
      text-align: center;
    }

    button {
      outline: none;
      border: none;
      color: $blue_text;
      background: transparent;
      font-size: 32px;
      font-weight: 700;
    }

    .Jukebox-queue-tag {
      width: 200px;
      border-radius: 12px;
      height: 3rem;
      font-size: 30px;
      background-color: $blue_dark;
      color: white;
      text-align: center;
      margin-left: 1rem;
      padding-top: 0.8rem;
    }
    .Jukebox-queue-close-div {
      position: relative;
      top: 0px;
      left: 5rem;
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      height: inherit;
      .Jukebox-queue-close-div-button {
        width: 20px;
        height: 20px;
        border-radius: 100%;
        background-color: red;
      }
    }
  }

  .Jukebox-queue-container-display {
    width: 350px;
    height: 300px;
    margin-top: 2rem;
    background-color: $blue_dark;
  }
  .Jukebox-queue-container-title {
    padding-top: 1rem;
    font-size: 50px;
    font-weight: bold;
    color: $blue_text;
    text-align: center;
  }
  .Jukebox-queue-container-tiles {
    margin-top: 2rem;
    height: 275px;
    width: 380px;
    border-radius: 12px;
    overflow-y: scroll;
    padding: 1rem;
    .Jukebox-queue-container-tile {
      width: 350px;
      height: 120px;
      background-color: $accent_pink;
      border-radius: 12px;
      margin: 1rem;
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: space-evenly;
      .Jukebox-queue-container-tile-cancel-button-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        height: 100%;
        margin-top: 1rem;
        .Jukebox-queue-container-tile-cancel-button {
          border-radius: 100%;
          width: 15px;
          height: 15px;
          background-color: red;
          opacity: 0.8;
        }
      }
    }
  }
  .Jukebox-queue-container-controls {
    display: flex;
    flex-direction: row;
    width: 95%;
    height: 70px;
    background-color: $blue_dark;
    align-items: center;
    justify-content: space-around;
    border-radius: 12px;
    margin-top: 1rem;

    .Jukebox-queue-container-controls-input {
      width: 280px;
      height: 50px;
      background-color: $blue_light;
      border-radius: 12px;
      color: white;
      font-size: 1rem;
    }

    .Jukebox-queue-container-controls-input-button {
      width: 40px;
      height: 40px;
      border-radius: 100%;
      background-color: $accent_yellow;
    }
  }
}
