#map {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  #map-container {
    background: url(../images/map/Ground.svg);
    width: 100%;
    height: calc(60vw * (578.76 / 1017.16));
    position: relative;

    button {
      background: transparent;
      border: none;
      outline: none;
      position: absolute;
      transform: translate(-50%, -50%);
      width: 100%;

      p {
        display: flex;
        align-items: center;
        justify-content: center;
        background: white;
        position: absolute;
        width: fit-content;
        max-width: initial;
        padding: 2px 4px;
        border-radius: 2px;
        //opacity: 0;
        //visibility: hidden;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        -webkit-transition: visibility 0s, opacity 0.5s linear;
        transition: visibility 0s, opacity 0.5s linear;
      }

      &:hover {
        & > p {
          visibility: visible;
          opacity: 0.7;
          border: 1px solid black;
        }
      }

      &#town-square {
        top: 20%;
        left: 52%;
        width: 20%;

        &:hover {
          top: 19%;
          cursor: grabbing;
        }
      }

      &#town-square-2 {
        top: 53%;
        left: 65%;
        width: 17%;

        &:hover {
          top: 52%;
          cursor: grabbing;
        }
      }

      &#nonprofit {
        top: 38%;
        left: 82%;
        width: 17%;

        &:hover {
          top: 37%;
          cursor: grabbing;
        }
      }

      &#personal-room {
        top: 68%;
        left: 34%;
        width: 17%;

        &:hover {
          top: 67%;
          cursor: grabbing;
        }
      }

      &#sponsor-town {
        top: 40%;
        left: 20%;
        width: 17%;

        &:hover {
          top: 39%;
          cursor: grabbing;
        }
      }

      &#speaker-sign {
        top: 53%;
        left: 45%;
        width: 3%;

        &:hover {
          top: 52%;
          cursor: grabbing;
        }
      }

      &#workshop-sign {
        top: 29%;
        left: 70%;
        width: 4%;

        &:hover {
          top: 28%;
          cursor: grabbing;
        }
      }

      &#event-sign {
        top: 26%;
        left: 34%;
        width: 4%;

        &:hover {
          top: 25%;
          cursor: grabbing;
        }
      }
    }
  }
}
