@import 'colors';

@mixin border-gradient($from, $to, $weight: 0) {
  $mix-main: mix($from, $to);
  $mix-sub-from: mix($mix-main, $from);
  $mix-sub-to: mix($mix-main, $to);
  box-shadow: 0 3px 0 $weight rgba($mix-sub-to, 0.25),
    0 -3px 0 $weight rgba($mix-sub-from, 0.25),
    3px 0 0 $weight rgba($mix-sub-to, 0.25),
    -3px 0 0 $weight rgba($mix-sub-from, 0.25),
    3px -3px 0 $weight rgba($mix-main, 0.5),
    -3px 3px 0 $weight rgba($mix-main, 0.5), 3px 3px 0 $weight rgba($to, 0.75),
    -3px -3px 0 $weight rgba($from, 0.75);
}

.modal-background {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background: rgba(0, 0, 0, 0);
  width: 60vw;
  height: 88vh;
  display: flex;
  align-items: center;
  justify-content: center;
  animation-name: animatetop;
  animation-duration: 0.4s;
  position: relative;

  * {
    max-width: 100%;
  }

  & > div {
    background: $blue_light;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    max-height: 100%;
    overflow-y: auto;
    padding: 32px;
    position: relative;
    width: 100%;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

.modal-frame {
  @include border-gradient(skyblue, hotpink);
  margin: auto;
  display: block;
  width: 100%;
  height: 100%;
}

.quarantine-modal {
  display: flex;
  background: rgba(0, 0, 0, 0);
  align-items: center;
  justify-content: center;
  animation-name: animatetop;
  animation-duration: 0.4s;
  position: relative;

  * {
    max-width: 100%;
  }
}

.modal-close-button {
  position: absolute;
  z-index: 30;
  top: 20px;
  right: 20px;

  color: #f1f1f1;
  font-size: 30px;
  font-weight: bold;
  font-display: auto;

  border-radius: 50%;
  background-color: rgb(240, 160, 142);
  border: 2px solid rgb(240, 160, 142);
  height: 40px;
  width: 40px;

  transition: 0.3s;
  text-align: center;
}

.modal-close-button:hover,
.modal-close-button:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}
