#nonprofit-popup {

  h1 {
    padding: 5px;
    font-size: 2em;
    text-align: center;
    margin-bottom: 1vw;
    margin-left: 3vw;
    margin-right: 3vw;
    color: #001d55;
    text-align: center;
  }

  h3 {
    padding: 5px;
    font-size: 1.2em;
    text-align: center;
    width: 100%;
    margin-bottom: 1em;
    margin-top: 1em;
    color: #26acc5;
    text-align: center;
  }

  p {
    text-indent: 1em;
    text-align: left;
  }

  ul {
    padding-left: 40px;
  }
}

