#notifications-pane {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(min(512px, 50vw));
  box-sizing: content-box;
  min-height: 42px;
  padding: 16px;

  display: flex;
  justify-content: left;
  align-items: top;

  img {
    height: 42px;
  }

  .notification-text-container {
    background: rgb(241, 156, 154);
    border-radius: 2px;
    margin-left: 8px;
    padding: 8px 12px;

    p {
      color: #fff;
    }
  }
}
