@charset "utf-8";

@import 'variables';

@import 'fonts';
@import 'colors';

$profile_border_radius: 12px;

.profile-container {
  background: $blue_dark;
  border-radius: $profile_border_radius;
  display: flex;
  flex-direction: column;
  max-width: 270px;
  padding: 8px;
  visibility: hidden;

  // TODO: This should be scale-dependent
  transform: translate(-50%, calc(-50% - 250px));

  .close-button {
    background: $blue_light;
    border: none;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    outline: none;
    width: 28px;
    height: 28px;

    position: absolute;
    top: -6px;
    right: -6px;

    img {
      width: 12px;
      margin: 8px;
    }
  }

  .profile-card {
    background: #fff;
    border: 2px solid $accent_yellow;
    border-radius: $profile_border_radius;
    padding: 6px 12px 12px;
    text-align: center;

    .name {
      font-size: 20px;
    }

    .school {
      font-size: 10px;
      margin-top: -2px;
    }

    .profile-badge {
      background: linear-gradient(
        135deg,
        rgba(150, 208, 241, 1) 0%,
        rgba(251, 205, 194, 1) 100%
      );
      border-radius: $profile_border_radius;
      height: 200px;
      margin-top: 8px;

      display: grid;
      grid-template-columns: 100%;
      grid-template-rows: 1fr auto;

      .bio-background {
        background: rgba(255, 255, 255, 0.7);
        padding: 8px;

        .bio {
          display: inline-block;
          font-size: 12px;
          text-align: left;
        }
      }
    }
  }

  .profile-buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 8px;

    button {
      background: $accent_pink;
      border: none;
      border-radius: 50%;
      cursor: pointer;
      outline: none;
      width: 32px;
      height: 32px;

      img {
        width: 18px;
        margin: 7px;
      }
    }
  }
}
