@import 'fonts';
@import 'colors';
@import 'variables';

#queue {
  background: $blue_light;
  color: $white !important;

  #root {
    padding: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  * {
    padding: 0;
    margin: 0;
    font-family: Muli;
  }

  p,
  h1,
  h2 {
    color: $white;
  }

  h1,
  h2 {
    font-family: LemonMilkMedium;
    color: $white !important;
  }
}

#queue-header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: row;
  margin: 0 0 1em 0;

  #queue-gear {
    padding: 0 10px;
    background-image: url(../images/settingsicon.svg);
    background-size: 16em auto;
    height: 2em;
    width: 2em;
    background-position: center;
  }
}

#queue-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#queue-option {
  display: flex;
  flex-direction: row;
  align-items: center;
  // padding: 0 20px 0 0;
  width: 40%;
  // justify-content: center;

  #queue-box {
    background-image: url(../images/box.svg);
    background-size: cover;
    height: 3em;
    width: 4em;
    background-position: center;
  }
}

#queue-button {
  cursor: pointer;
  color: $white;
  background-color: $blue_light;
  border: none;
  outline: none;
  margin: 1em 0;
}

#queue-flexcenter {
  display: flex;
  justify-content: center;
}

#queue-button:hover {
  color: $blue_text;
}


#settings-clouds {
  background-image: url(../images/settingsclouds.svg);
  min-height: 200px;
  background-size: cover;
}
