#game {
    &.sponsor {
        height: 90vh;
        width: 97.5vh;
    }
}

#sponsor-pane {
    display: none;
    text-align: center;
    width: 30%;

    &.active {
        display: block;
    }

    h1 {
        font-size: 48px;
        margin: 12px 0;
        position: relative;

        span {
            position: absolute;
            left: 2px;
            top: -3px;
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: black;
            -webkit-text-fill-color: transparent;
        }
    }

    p {
        text-align: justify;
    }
}

#sponsor-pane-actions {
    margin: 20px 0;

    .action {
        cursor: pointer;
        display: inline-block;
        margin: 0 12px;

        &:hover {
            .icon-container {
                background: rgba(255, 255, 255, 0.3);
            }
        }

        .icon-container {
            background: rgba(255, 255, 255, 0.5);
            border-radius: 50%;
            display: block;
            margin: 0 auto;
            padding: 12px;
            width: 40px;
            height: 40px;

            img {
                width: 100%;
                height: 100%;
            }
        }

        span {
            font-family: Muli, sans-serif;
            font-size: 12px;
        }
    }
}
