#game {
  &.sponsor {
    height: calc(97.5vh * (9 / 16) + 52px);
    width: 97.5vh;

    #three-container,
    #background {
      height: calc(97.5vh * (9 / 16));
    }
  }
}

#sponsor-pane {
  display: none;
  text-align: center;
  width: 30%;

  &.active {
    display: block;
  }

  #sponsor-name {
    display: block;
    font-size: 48px;
    margin: 12px auto;
    position: relative;
    width: 80%;
  }

  p {
    text-align: justify;
  }
}

#sponsor-pane-actions {
  margin: 20px 0;

  .action {
    cursor: pointer;
    display: inline-block;
    margin: 0 12px;

    &:hover {
      .icon-container {
        background: rgba(255, 255, 255, 0.3);
      }
    }

    .icon-container {
      background: rgba(255, 255, 255, 0.5);
      border-radius: 50%;
      display: block;
      margin: 0 auto 4px;
      padding: 8px;
      width: 48px;
      height: 48px;

      img {
        width: 100%;
        height: 100%;
      }
    }

    span {
      font-family: Muli, sans-serif;
      font-size: 12px;
    }
  }
}
