$sponsor_pane_width: 340px;
$horizontal_spacing: 24px;

#outer.sponsor {
  #game {
    margin-left: $horizontal_spacing;
  }

  &.vertical #game {
    width: calc(100vw - #{$horizontal_spacing} * 3 - #{$sponsor_pane_width});
    height: calc(
      (100vw - #{$horizontal_spacing} * 3 - #{$sponsor_pane_width}) * (9 / 16)
    );
  }
}

#sponsor-pane {
  display: none;
  margin: 0 $horizontal_spacing;
  min-width: $sponsor_pane_width;
  max-width: $sponsor_pane_width;
  max-height: calc(100vh - 64px - 52px);
  overflow-y: scroll;
  text-align: center;
  width: 30%;

  &.active {
    display: block;
  }

  #sponsor-name {
    display: block;
    font-size: 48px;
    margin: 12px auto;
    position: relative;
    width: 80%;
  }

  p {
    text-align: justify;
  }
}

#sponsor-pane-actions {
  margin: 20px 0;

  .action {
    cursor: pointer;
    display: inline-block;
    margin: 0 12px;

    &:hover {
      .icon-container {
        background: rgba(255, 255, 255, 0.3);
      }
    }

    .icon-container {
      background: rgba(255, 255, 255, 0.5);
      border-radius: 50%;
      display: block;
      margin: 0 auto 4px;
      padding: 8px;
      width: 48px;
      height: 48px;

      img {
        width: 100%;
        height: 100%;
      }
    }

    span {
      font-family: Muli, sans-serif;
      font-size: 12px;
    }
  }
}
