@import 'colors';

#sponsor-panel {
  background: $blue_light;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 32px;

  h1 {
    margin-bottom: 16px;
    text-align: center;
  }

  #table {
    display: grid;
    grid-template-columns: 47.5% 5% 47.5%;
    overflow-y: auto;

    div {
      overflow-y: scroll;

      h2 {
        margin-bottom: 8px;
        text-align: center;
      }
    }

    #challenge-submitted {
      text-align: center;
      color: green;
    }

    #options {
      .field {
        margin-bottom: 12px;

        p {
          font-size: 13px;
          margin-bottom: 4px;
        }

        input,
        textarea {
          box-sizing: border-box;
          border: 2px solid $blue_dark;
          border-radius: 4px;
          font-size: 14px;
          padding: 8px;
          width: 100%;
        }
      }

      button {
        background: #43a047;
        border: none;
        border-radius: 4px;
        color: #fff;
        cursor: pointer;
        display: block;
        font-size: 14px;
        margin: 20px auto 0;
        outline: none;
        padding: 12px 16px;

        &:hover {
          background: #388e3c;
        }
      }
    }

    #queue {
      display: flex;
      flex-direction: column;

      .hacker {
        background: #fff;
        border-radius: 4px;
        margin-bottom: 12px;
        padding: 8px 12px;

        &:last-of-type {
          margin-bottom: 0;
        }

        button {
          background: $accent_pink;
          border: none;
          border-radius: 4px;
          color: $blue_dark;
          cursor: pointer;
          font-size: 16px;
          margin-top: 8px;
          outline: none;
          padding: 8px;
        }
      }

      #sponsor-zoom {
        #sponsor-zoom-input {
          display: flex;
          flex-direction: row;
        }

        p {
          font-size: 13px;
          margin-bottom: 4px;
        }

        input,
        textarea {
          box-sizing: border-box;
          border: 2px solid $blue_dark;
          border-radius: 4px;
          font-size: 14px;
          padding: 8px;
          // width: 100%;
          flex-grow: 1;
          margin-bottom: 12px;
        }

        button {
          background: #43a047;
          border: none;
          border-radius: 4px;
          color: #fff;
          cursor: pointer;
          font-size: 14px;
          margin-left: 4px;
          margin-bottom: 12px;
          outline: none;
          padding: 10px 16px;

          &:hover {
            background: #388e3c;
          }
        }
      }

      #sponsor-toggle-container {
        p {
          font-size: 13px;
          margin-bottom: 4px;
        }
        #sponsor-queue-toggle {
          position: relative;
          display: inline-block;
          width: 60px;
          height: 34px;

          input {
            opacity: 0;
            width: 0;
            height: 0;
          }

          #slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #ccc;
            -webkit-transition: 0.4s;
            transition: 0.4s;
            border-radius: 34px;
          }

          #slider:before {
            position: absolute;
            content: '';
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: 0.4s;
            transition: 0.4s;
            border-radius: 50%;
          }

          input:checked + .slider {
            background-color: #2196f3;
          }

          input:focus + .slider {
            box-shadow: 0 0 1px #2196f3;
          }

          input:checked + .slider:before {
            -webkit-transform: translateX(26px);
            -ms-transform: translateX(26px);
            transform: translateX(26px);
          }
        }
      }
    }
  }
}
