@import 'colors';
@import 'fonts';

#save {
  float: right;
  background-color: white;
  margin-left: 20px;
  margin-top: 10px;
  align-content: center;
  font-family: Arial;
  height: 50px;
  width: 200px;
  position: relative;
  z-index: 2;
  pointer-events: auto;
}

.modal-close-button {
  color: white;
}
